In [3]:
import pandas_datareader.data as web
import pandas as pd

In [4]:
all_data = {ticker:web.get_data_yahoo(ticker)
            for ticker in ['AAPL','IBM','MSFT','GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                      for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                       for ticker, data in all_data.items()})

In [5]:
price.head()

                 AAPL         IBM       MSFT        GOOG
Date
2016-06-01  22.994963  122.114479  48.688492  734.150024
2016-06-02  22.822144  122.907143  48.347626  730.400024
2016-06-03  22.868847  122.418724  47.711952  722.340027
2016-06-06  23.034662  122.290611  48.025192  716.549988
2016-06-07  23.128084  122.771080  47.997551  716.650024

In [6]:
volume.head()

                   AAPL        IBM        MSFT     GOOG
Date
2016-06-01  116693200.0  2663400.0  25324800.0  1253600
2016-06-02  160766400.0  2642600.0  22840800.0  1341800
2016-06-03  114019600.0  2328300.0  23368300.0  1226300
2016-06-06   93170000.0  2378700.0  18243300.0  1565300
2016-06-07   89638000.0  4465000.0  20866800.0  1336200

In [8]:
returns = price.pct_change()
returns.head() # returns : 변화율

                AAPL       IBM      MSFT      GOOG
Date
2016-06-01       NaN       NaN       NaN       NaN
2016-06-02 -0.007516  0.006491 -0.007001 -0.005108
2016-06-03  0.002046 -0.003974 -0.013148 -0.011035
2016-06-06  0.007251 -0.001047  0.006565 -0.008016
2016-06-07  0.004056  0.003929 -0.000576  0.000140

In [9]:
returns['MSFT'].corr(returns['IBM'])

0.5300883782025547

In [10]:
returns['MSFT'].cov(returns['IBM'])

0.00015021229929045767

In [12]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.446158  0.726443  0.660388
IBM   0.446158  1.000000  0.530088  0.492515
MSFT  0.726443  0.530088  1.000000  0.771513
GOOG  0.660388  0.492515  0.771513  1.000000

In [13]:
returns.cov() # 자기자신의 공분산이 다른 애들보다 높음

          AAPL       IBM      MSFT      GOOG
AAPL  0.000363  0.000139  0.000239  0.000212
IBM   0.000139  0.000268  0.000150  0.000136
MSFT  0.000239  0.000150  0.000299  0.000225
GOOG  0.000212  0.000136  0.000225  0.000284

In [14]:
returns.corrwith(returns.IBM) #IBM과 IBM을 비교하면 1이 나온다 / 결론만 나와서 보기 쉬움

AAPL    0.446158
IBM     1.000000
MSFT    0.530088
GOOG    0.492515
dtype: float64

In [ ]:
returns.corrwith(volume)

In [15]:
volume.head()

                   AAPL        IBM        MSFT     GOOG
Date
2016-06-01  116693200.0  2663400.0  25324800.0  1253600
2016-06-02  160766400.0  2642600.0  22840800.0  1341800
2016-06-03  114019600.0  2328300.0  23368300.0  1226300
2016-06-06   93170000.0  2378700.0  18243300.0  1565300
2016-06-07   89638000.0  4465000.0  20866800.0  1336200

In [16]:
s1= pd.Series(['c','a','d','a','a','b','b','c','c'])

In [17]:
unique_items = s1.unique()
print(unique_items)

['c' 'a' 'd' 'b']

In [18]:
s1.value_counts() #갯수를 알려줘라

a    3
c    3
b    2
d    1
dtype: int64

In [15]:
df1 = pd.read_csv('examples/ex1.csv',sep='/')
df1

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

In [11]:
res = pd.read_table("examples/ex3.txt", sep="\s+")
res

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [18]:
df2 = pd.read_csv('examples/ex4.csv',skiprows=[0,2,3])
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
df3 = pd.read_csv('examples/ex5.csv')
df3

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
df4 = pd.read_csv('examples/ex5.csv',na_values=["NULL"])
df4

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
df5 = pd.read_csv('examples/ex5.csv')

df5.to_csv('examples/my_out_of_ex5.csv',
           na_rep="ToBeReplaced")

In [28]:
df5 = pd.read_csv('examples/ex5.csv')

df5.to_csv('examples/my_out_of_ex5.csv',
           na_rep="ToBeReplaced",index=False,
           header=False)

In [29]:
df5 = pd.read_csv('examples/ex5.csv')

df5.to_csv('examples/my_out_of_ex5.csv',
           na_rep="ToBeReplaced",index=False,
           columns=["a","b","c"])

In [31]:
from bs4 import BeautifulSoup
import requests

In [36]:
source = requests.get("https://www.weather.go.kr/weather/observation/currentweather.jsp")
source.content
soup = BeautifulSoup(source.content,"html.parser")
table = soup.find('table',{"class":"table_develop3"})
table

<table class="table_develop3" summary="기상실황표로 지점, 날씨, 기온, 강수, 바람, 기압등을 안내한 표입니다.">
<caption>기상실황표</caption>
<colgroup>
<col style="width:14%"/>
<col style="width:12%"/>
<col style="width:7%"/>
<col style="width:5%"/>
<col style="width:8%"/>
<col style="width:5%"/>
<col style="width:6%"/>
<col style="width:5%"/>
<col style="width:8%"/>
<col style="width:5%"/>
<col style="width:8%"/>
<col style="width:6%"/>
<col/>
</colgroup>
<thead>
<tr class="table_header" id="table_header1">
<th class="top_line" rowspan="2" scope="col">
		지점
		</th>
<th class="top_line" colspan="4" id="headers-weather" scope="col">날씨</th>
<th class="top_line" colspan="3" id="headers-temp" scope="col">기온(℃)</th>
<th class="top_line" colspan="2" id="headers-rain" scope="col">강수</th>
<th class="top_line" colspan="2" id="headers-wind" scope="col">바람</th>
<th class="top_line" id="headers-press" scope="col">기압(hPa)</th>
</tr>
<tr class="table_header" id="table_header2">
<th class="nm" headers="headers-weather" scope="col">현재일기 </th>
<th class="nm" headers="headers-weather" scope="col">시정<br/>km</th>
<th class="nm" headers="headers-weather" scope="col">운량<br/>1/10</th>
<th class="nm" headers="headers-weather" scope="col">중하운량</th>
<th class="nm" headers="headers-temp" scope="col">현재<br/>기온</th>
<th class="nm" headers="headers-temp" scope="col">이슬점<br/>온도</th>
<th class="nm" headers="headers-temp" scope="col">체감<br/>온도</th>
<th class="nm" headers="headers-rain" scope="col">일강수<br/>mm</th>
<th class="nm" headers="headers-rain" scope="col">습도<br/>%</th>
<th class="nm" headers="headers-wind" scope="col">풍향 </th>
<th class="nm" headers="headers-wind" scope="col">풍속<br/><script>writeWindSpeedUnit();</script></th>
<th class="nm" headers="headers-press" scope="col">해면<br/>기압</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=105">강릉</a></td>
<td> </td>
<td>18.8</td>
<td> </td>
<td> </td>
<td>24.9</td>
<td>17.3</td>
<td>26.1</td>
<td>0.1</td>
<td>63</td>
<td>동북동</td>
<td><script>writeWindSpeed('1.2', false, '', '', 1);</script></td>
<td>1012.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=259">강진군</a></td>
<td> </td>
<td>15.0</td>
<td> </td>
<td> </td>
<td>26.5</td>
<td>11.4</td>
<td>25.6</td>
<td> </td>
<td>39</td>
<td>남남서</td>
<td><script>writeWindSpeed('2.5', false, '', '', 1);</script></td>
<td>1013.0</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=201">강화</a></td>
<td> </td>
<td>19.8</td>
<td> </td>
<td> </td>
<td>20.5</td>
<td>15.6</td>
<td>22.5</td>
<td>2.1</td>
<td>74</td>
<td>서</td>
<td><script>writeWindSpeed('1.8', false, '', '', 1);</script></td>
<td>1015.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=294">거제</a></td>
<td> </td>
<td>14.9</td>
<td> </td>
<td> </td>
<td>26.2</td>
<td>11.1</td>
<td>25.3</td>
<td> </td>
<td>39</td>
<td>동남동</td>
<td><script>writeWindSpeed('2.4', false, '', '', 1);</script></td>
<td>1014.6</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=284">거창</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>25.4</td>
<td>14.2</td>
<td>25.5</td>
<td> </td>
<td>50</td>
<td>동</td>
<td><script>writeWindSpeed('1.3', false, '', '', 1);</script></td>
<td>1013.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=283">경주시</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.8</td>
<td>12.4</td>
<td>26.1</td>
<td> </td>
<td>41</td>
<td>남남서</td>
<td><script>writeWindSpeed('3.5', false, '', '', 1);</script></td>
<td>1014.0</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=185">고산</a></td>
<td> </td>
<td>19.9</td>
<td> </td>
<td> </td>
<td>22.8</td>
<td>19.3</td>
<td>25.3</td>
<td> </td>
<td>81</td>
<td>북북서</td>
<td><script>writeWindSpeed('2.4', false, '', '', 1);</script></td>
<td>1013.6</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=172">고창</a></td>
<td> </td>
<td>12.6</td>
<td> </td>
<td> </td>
<td>28.5</td>
<td>11.1</td>
<td>27.0</td>
<td> </td>
<td>34</td>
<td>남서</td>
<td><script>writeWindSpeed('3.1', false, '', '', 1);</script></td>
<td>1013.4</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=251">고창군</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>28.1</td>
<td>11.6</td>
<td>26.8</td>
<td> </td>
<td>36</td>
<td>남</td>
<td><script>writeWindSpeed('1.6', false, '', '', 1);</script></td>
<td>1013.2</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=262">고흥</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.5</td>
<td>10.2</td>
<td>25.3</td>
<td> </td>
<td>36</td>
<td>동남동</td>
<td><script>writeWindSpeed('2.1', false, '', '', 1);</script></td>
<td>1013.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=266">광양시</a></td>
<td> </td>
<td>15.2</td>
<td> </td>
<td> </td>
<td>27.0</td>
<td>12.2</td>
<td>26.2</td>
<td> </td>
<td>40</td>
<td>동남동</td>
<td><script>writeWindSpeed('1.1', false, '', '', 1);</script></td>
<td>1014.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=156">광주</a></td>
<td>구름조금</td>
<td>19.8</td>
<td>5</td>
<td>0</td>
<td>28.1</td>
<td>12.0</td>
<td>26.9</td>
<td> </td>
<td>37</td>
<td>남남서</td>
<td><script>writeWindSpeed('1.1', false, '', '', 1);</script></td>
<td>1013.3</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=279">구미</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.5</td>
<td>13.5</td>
<td>26.2</td>
<td> </td>
<td>45</td>
<td>북북서</td>
<td><script>writeWindSpeed('0.7', false, '', '', 1);</script></td>
<td>1014.0</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=140">군산</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.5</td>
<td>13.2</td>
<td>26.1</td>
<td> </td>
<td>44</td>
<td>북서</td>
<td><script>writeWindSpeed('2.7', false, '', '', 1);</script></td>
<td>1015.3</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=238">금산</a></td>
<td> </td>
<td>19.5</td>
<td> </td>
<td> </td>
<td>26.3</td>
<td>15.0</td>
<td>26.4</td>
<td> </td>
<td>50</td>
<td>북</td>
<td><script>writeWindSpeed('1.3', false, '', '', 1);</script></td>
<td>1013.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=253">김해시</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>27.1</td>
<td>14.4</td>
<td>26.8</td>
<td> </td>
<td>46</td>
<td>남남서</td>
<td><script>writeWindSpeed('2.2', false, '', '', 1);</script></td>
<td>1014.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=247">남원</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.7</td>
<td>11.9</td>
<td>25.9</td>
<td> </td>
<td>40</td>
<td>서북서</td>
<td><script>writeWindSpeed('1.4', false, '', '', 1);</script></td>
<td>1013.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=295">남해</a></td>
<td> </td>
<td>19.8</td>
<td> </td>
<td> </td>
<td>25.1</td>
<td>13.3</td>
<td>25.1</td>
<td> </td>
<td>48</td>
<td>북북동</td>
<td><script>writeWindSpeed('2.3', false, '', '', 1);</script></td>
<td>1014.1</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=100">대관령</a></td>
<td> </td>
<td>17.3</td>
<td> </td>
<td> </td>
<td>21.0</td>
<td>13.6</td>
<td>22.2</td>
<td>0.1</td>
<td>63</td>
<td>서북서</td>
<td><script>writeWindSpeed('4.1', false, '', '', 1);</script></td>
<td>1011.6</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=143">대구</a></td>
<td>구름많음</td>
<td>18.8</td>
<td>7</td>
<td>0</td>
<td>26.4</td>
<td>12.4</td>
<td>25.8</td>
<td> </td>
<td>42</td>
<td>북</td>
<td><script>writeWindSpeed('2.0', false, '', '', 1);</script></td>
<td>1013.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=133">대전</a></td>
<td>구름많음</td>
<td>20 이상</td>
<td>8</td>
<td>2</td>
<td>26.4</td>
<td>14.4</td>
<td>26.3</td>
<td>0.0</td>
<td>48</td>
<td>북</td>
<td><script>writeWindSpeed('1.1', false, '', '', 1);</script></td>
<td>1014.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=98">동두천</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>20.8</td>
<td>17.7</td>
<td>23.4</td>
<td>2.8</td>
<td>83</td>
<td>북서</td>
<td><script>writeWindSpeed('1.8', false, '', '', 1);</script></td>
<td>1015.6</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=106">동해</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>19.1</td>
<td>15.1</td>
<td>21.3</td>
<td> </td>
<td>78</td>
<td>남남동</td>
<td><script>writeWindSpeed('2.1', false, '', '', 1);</script></td>
<td>1012.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=165">목포</a></td>
<td>맑음</td>
<td>19.8</td>
<td>0</td>
<td>0</td>
<td>27.1</td>
<td>11.9</td>
<td>26.2</td>
<td> </td>
<td>39</td>
<td>남동</td>
<td><script>writeWindSpeed('2.8', false, '', '', 1);</script></td>
<td>1013.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=273">문경</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>23.8</td>
<td>17.0</td>
<td>25.2</td>
<td> </td>
<td>66</td>
<td>북서</td>
<td><script>writeWindSpeed('0.6', false, '', '', 1);</script></td>
<td>1013.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=288">밀양</a></td>
<td> </td>
<td>18.8</td>
<td> </td>
<td> </td>
<td>28.2</td>
<td>12.1</td>
<td>27.0</td>
<td> </td>
<td>37</td>
<td>남남동</td>
<td><script>writeWindSpeed('1.5', false, '', '', 1);</script></td>
<td>1013.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=102">백령도</a></td>
<td>약한 비 단속적</td>
<td>2.7</td>
<td>10</td>
<td>5</td>
<td>14.8</td>
<td>14.3</td>
<td>18.1</td>
<td>21.8</td>
<td>97</td>
<td>동남동</td>
<td><script>writeWindSpeed('4.8', false, '', '', 1);</script></td>
<td>1010.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=235">보령</a></td>
<td> </td>
<td>19.8</td>
<td> </td>
<td> </td>
<td>26.0</td>
<td>13.1</td>
<td>25.7</td>
<td> </td>
<td>45</td>
<td>서북서</td>
<td><script>writeWindSpeed('0.6', false, '', '', 1);</script></td>
<td>1014.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=258">보성군</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.2</td>
<td>11.8</td>
<td>25.5</td>
<td> </td>
<td>41</td>
<td>남남서</td>
<td><script>writeWindSpeed('1.3', false, '', '', 1);</script></td>
<td>1013.6</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=226">보은</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>23.9</td>
<td>14.5</td>
<td>24.6</td>
<td> </td>
<td>56</td>
<td>북동</td>
<td><script>writeWindSpeed('1.3', false, '', '', 1);</script></td>
<td>1014.3</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=271">봉화</a></td>
<td> </td>
<td>19.5</td>
<td> </td>
<td> </td>
<td>21.7</td>
<td>13.0</td>
<td>22.5</td>
<td> </td>
<td>58</td>
<td>서남서</td>
<td><script>writeWindSpeed('2.1', false, '', '', 1);</script></td>
<td>1013.4</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=159">부산</a></td>
<td>구름많음</td>
<td>20 이상</td>
<td>6</td>
<td>0</td>
<td>25.3</td>
<td>9.5</td>
<td>24.3</td>
<td> </td>
<td>37</td>
<td>남동</td>
<td><script>writeWindSpeed('3.7', false, '', '', 1);</script></td>
<td>1013.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=243">부안</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>27.5</td>
<td>13.0</td>
<td>26.7</td>
<td> </td>
<td>41</td>
<td>서</td>
<td><script>writeWindSpeed('2.3', false, '', '', 1);</script></td>
<td>1014.3</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=236">부여</a></td>
<td> </td>
<td>19.5</td>
<td> </td>
<td> </td>
<td>26.9</td>
<td>13.9</td>
<td>26.5</td>
<td> </td>
<td>45</td>
<td>서</td>
<td><script>writeWindSpeed('2.2', false, '', '', 1);</script></td>
<td>1015.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=104">북강릉</a></td>
<td>구름많음</td>
<td>12.4</td>
<td>8</td>
<td>2</td>
<td>22.3</td>
<td>17.2</td>
<td>24.2</td>
<td>0.6</td>
<td>73</td>
<td>북서</td>
<td><script>writeWindSpeed('1.6', false, '', '', 1);</script></td>
<td>1012.1</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=255">북창원</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>27.9</td>
<td>12.6</td>
<td>26.9</td>
<td> </td>
<td>39</td>
<td>남</td>
<td><script>writeWindSpeed('1.7', false, '', '', 1);</script></td>
<td>1013.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=93">북춘천</a></td>
<td>약한 비 단속적</td>
<td>12.0</td>
<td>10</td>
<td>1</td>
<td>21.4</td>
<td>16.7</td>
<td>23.5</td>
<td>2.5</td>
<td>75</td>
<td>남</td>
<td><script>writeWindSpeed('2.3', false, '', '', 1);</script></td>
<td>1014.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=289">산청</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>26.0</td>
<td>12.7</td>
<td>25.6</td>
<td> </td>
<td>44</td>
<td>동</td>
<td><script>writeWindSpeed('2.5', false, '', '', 1);</script></td>
<td>1014.0</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=137">상주</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>24.5</td>
<td>16.2</td>
<td>25.5</td>
<td> </td>
<td>60</td>
<td>북동</td>
<td><script>writeWindSpeed('0.8', false, '', '', 1);</script></td>
<td>1014.4</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=189">서귀포</a></td>
<td>맑음</td>
<td>20 이상</td>
<td>0</td>
<td>0</td>
<td>24.3</td>
<td>20.2</td>
<td>26.6</td>
<td> </td>
<td>78</td>
<td>남</td>
<td><script>writeWindSpeed('1.2', false, '', '', 1);</script></td>
<td>1014.1</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=129">서산</a></td>
<td> </td>
<td>19.5</td>
<td> </td>
<td> </td>
<td>25.2</td>
<td>13.0</td>
<td>25.1</td>
<td> </td>
<td>47</td>
<td>서남서</td>
<td><script>writeWindSpeed('3.4', false, '', '', 1);</script></td>
<td>1014.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=108">서울</a></td>
<td>흐림</td>
<td>20 이상</td>
<td>9</td>
<td>0</td>
<td>23.7</td>
<td>15.7</td>
<td>24.7</td>
<td>3.2</td>
<td>61</td>
<td>서남서</td>
<td><script>writeWindSpeed('3.0', false, '', '', 1);</script></td>
<td>1014.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=188">성산</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>23.1</td>
<td>18.4</td>
<td>25.2</td>
<td> </td>
<td>75</td>
<td>동남동</td>
<td><script>writeWindSpeed('3.1', false, '', '', 1);</script></td>
<td>1014.3</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=239">세종</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>25.1</td>
<td>13.9</td>
<td>25.2</td>
<td> </td>
<td>50</td>
<td>북서</td>
<td><script>writeWindSpeed('2.3', false, '', '', 1);</script></td>
<td>1014.5</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=90">속초</a></td>
<td> </td>
<td>5.3</td>
<td> </td>
<td> </td>
<td>17.2</td>
<td>15.3</td>
<td>20.1</td>
<td>0.3</td>
<td>89</td>
<td>동남동</td>
<td><script>writeWindSpeed('1.1', false, '', '', 1);</script></td>
<td>1013.3</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=119">수원</a></td>
<td>구름많음</td>
<td>19.5</td>
<td>6</td>
<td>0</td>
<td>25.1</td>
<td>15.9</td>
<td>25.8</td>
<td>0.6</td>
<td>57</td>
<td>남서</td>
<td><script>writeWindSpeed('3.4', false, '', '', 1);</script></td>
<td>1014.7</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=254">순창군</a></td>
<td> </td>
<td>20 이상</td>
<td> </td>
<td> </td>
<td>27.7</td>
<td>11.6</td>
<td>26.5</td>
<td> </td>
<td>37</td>
<td>남동</td>
<td><script>writeWindSpeed('1.7', false, '', '', 1);</script></td>
<td>1012.9</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=174">순천</a></td>
<td> </td>
<td>18.1</td>
<td> </td>
<td> </td>
<td>27.0</td>
<td>13.6</td>
<td>26.6</td>
<td> </td>
<td>44</td>
<td>동</td>
<td><script>writeWindSpeed('2.6', false, '', '', 1);</script></td>
<td>1012.8</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=136">안동</a></td>
<td>구름많음</td>
<td>17.9</td>
<td>7</td>
<td>0</td>
<td>24.1</td>
<td>13.6</td>
<td>24.4</td>
<td> </td>
<td>52</td>
<td>서</td>
<td><script>writeWindSpeed('2.0', false, '', '', 1);</script></td>
<td>1014.4</td>
</tr>
<tr>
<td><a href="/weather/observation/currentweather.jsp?tm=2021.6.1.13:00&amp;type=t99&amp;mode=0&amp;reg=100&amp;auto_man=m&amp;stn=257">양산시</a></td>
<td> </td>
<td>19.0</td>
<td> </td>
<td> </td>
<td>28.2</td>

In [37]:
url = "http://www.webscrapingfordatascience.com/basichttp/"
r = requests.get(url)
r.text

'Hello from the web!\r\n'

In [ ]:
# div -> 특성이 없는 태그, 껍데기 (class를 제공하기 위한 빈칸)

In [41]:
url = "https://en.wikipedia.org/w/index.php?title=List_of_Game_of_Thrones_episodes&oldid=802553687"
r = requests.get(url)
r.text
html_soup = BeautifulSoup(r.text,"html.parser")
found_h1 = html_soup.find("h1") #페이지소스보기 -> ctrl+F하고 찾기
found_h1

In [42]:
found_h1.contents 
#<h1 class="firstHeading" id="firstHeading">: class라는 속성과 id라는 속성이 있다.
#List of <i>Game of Thrones</i> episodes</h1> : h1속에 있는 내용물
# <i>Game of Thrones</i> : 강조돼서 별도의 contents

['List of ', <i>Game of Thrones</i>, ' episodes']

In [43]:
found_h1.text

'List of Game of Thrones episodes'

In [44]:
found_h1.attrs # 딕셔너리의 속성들

{'id': 'firstHeading', 'class': ['firstHeading']}

In [45]:
found_h1.attrs['id'] #key로 접근

'firstHeading'

In [46]:
found_h1.attrs['class']

['firstHeading']

In [47]:
# 많은 contents를 찾을땐 h1처럼 하지 않고 반복문을 사용해서 찾는다
for found in html_soup.find_all("h2"): # h2레벨을 모두 찾겠다(19개)
    print(found.text) # 한 개당 2개씩 갯수를 포함하므로 8개

Contents
Series overview
Episodes
Home media releases
Ratings
References
External links
Navigation menu

In [48]:
episodes = []
ep_tables = html_soup.find_all('table', 
                               class_ = "wikitable plainrowheaders wikiepisodetable") #표를 다 찾아보기

In [51]:
for table in ep_tables:
    headers = [] #표의 header공간에 담을 공간 만들어주기
    rows = table.find_all('tr') #모든 rows를 다 찾아봐라
    for header in table.find("tr").find_all("th"): #"th"를 찾아서 리스트에 담아봐라
        headers.append(header.text)
        
    for row in table.find_all("tr")[1:]:
        values = [] #values가 담을 공간 만들어주기
        for col in row.find_all(["th","td"]): #columns에 나와있는 것을 하나씩 values에 넣어줘라
            values.append(col.text)
        if values:
            episode_dict = {headers[i]:values[i] for i in range(len(values))} #header하나와 values하나와 짝 지어주기
            episodes.append(episode_dict)
for episode in episodes:
    print(episode)

{'No.overall': '1', 'No. inseason': '1', 'Title': '"Winter Is Coming"', 'Directed by': 'Tim Van Patten', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa017,\xa02011\xa0(2011-04-17)', 'U.S. viewers(millions)': '2.22[21]'}
{'No.overall': '2', 'No. inseason': '2', 'Title': '"The Kingsroad"', 'Directed by': 'Tim Van Patten', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa024,\xa02011\xa0(2011-04-24)', 'U.S. viewers(millions)': '2.20[22]'}
{'No.overall': '3', 'No. inseason': '3', 'Title': '"Lord Snow"', 'Directed by': 'Brian Kirk', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa01,\xa02011\xa0(2011-05-01)', 'U.S. viewers(millions)': '2.44[23]'}
{'No.overall': '4', 'No. inseason': '4', 'Title': '"Cripples, Bastards, and Broken Things"', 'Directed by': 'Brian Kirk', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa08,\xa02011\xa0(2011-05-08)', 'U.S. viewers(millions)': '2.45[24]'}
{'No.overall': '5', 'No. inseason': '5', 'Title': '"The Wolf and the Lion"', 'Directed by': 'Brian Kirk', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa015,\xa02011\xa0(2011-05-15)', 'U.S. viewers(millions)': '2.58[25]'}
{'No.overall': '6', 'No. inseason': '6', 'Title': '"A Golden Crown"', 'Directed by': 'Daniel Minahan', 'Written by': 'Story by\u200a: David Benioff & D. B. WeissTeleplay by\u200a: Jane Espenson and David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa022,\xa02011\xa0(2011-05-22)', 'U.S. viewers(millions)': '2.44[26]'}
{'No.overall': '7', 'No. inseason': '7', 'Title': '"You Win or You Die"', 'Directed by': 'Daniel Minahan', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa029,\xa02011\xa0(2011-05-29)', 'U.S. viewers(millions)': '2.40[27]'}
{'No.overall': '8', 'No. inseason': '8', 'Title': '"The Pointy End"', 'Directed by': 'Daniel Minahan', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'June\xa05,\xa02011\xa0(2011-06-05)', 'U.S. viewers(millions)': '2.72[28]'}
{'No.overall': '9', 'No. inseason': '9', 'Title': '"Baelor"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa012,\xa02011\xa0(2011-06-12)', 'U.S. viewers(millions)': '2.66[29]'}
{'No.overall': '10', 'No. inseason': '10', 'Title': '"Fire and Blood"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa019,\xa02011\xa0(2011-06-19)', 'U.S. viewers(millions)': '3.04[30]'}
{'No.overall': '11', 'No. inseason': '1', 'Title': '"The North Remembers"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa01,\xa02012\xa0(2012-04-01)', 'U.S. viewers(millions)': '3.86[31]'}
{'No.overall': '12', 'No. inseason': '2', 'Title': '"The Night Lands"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa08,\xa02012\xa0(2012-04-08)', 'U.S. viewers(millions)': '3.76[32]'}
{'No.overall': '13', 'No. inseason': '3', 'Title': '"What Is Dead May Never Die"', 'Directed by': 'Alik Sakharov', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa015,\xa02012\xa0(2012-04-15)', 'U.S. viewers(millions)': '3.77[33]'}
{'No.overall': '14', 'No. inseason': '4', 'Title': '"Garden of Bones"', 'Directed by': 'David Petrarca', 'Written by': 'Vanessa Taylor', 'Original air date\u200a[20]': 'April\xa022,\xa02012\xa0(2012-04-22)', 'U.S. viewers(millions)': '3.65[34]'}
{'No.overall': '15', 'No. inseason': '5', 'Title': '"The Ghost of Harrenhal"', 'Directed by': 'David Petrarca', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa029,\xa02012\xa0(2012-04-29)', 'U.S. viewers(millions)': '3.90[35]'}
{'No.overall': '16', 'No. inseason': '6', 'Title': '"The Old Gods and the New"', 'Directed by': 'David Nutter', 'Written by': 'Vanessa Taylor', 'Original air date\u200a[20]': 'May\xa06,\xa02012\xa0(2012-05-06)', 'U.S. viewers(millions)': '3.88[36]'}
{'No.overall': '17', 'No. inseason': '7', 'Title': '"A Man Without Honor"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa013,\xa02012\xa0(2012-05-13)', 'U.S. viewers(millions)': '3.69[37]'}
{'No.overall': '18', 'No. inseason': '8', 'Title': '"The Prince of Winterfell"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa020,\xa02012\xa0(2012-05-20)', 'U.S. viewers(millions)': '3.86[38]'}
{'No.overall': '19', 'No. inseason': '9', 'Title': '"Blackwater"', 'Directed by': 'Neil Marshall', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'May\xa027,\xa02012\xa0(2012-05-27)', 'U.S. viewers(millions)': '3.38[39]'}
{'No.overall': '20', 'No. inseason': '10', 'Title': '"Valar Morghulis"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa03,\xa02012\xa0(2012-06-03)', 'U.S. viewers(millions)': '4.20[40]'}
{'No.overall': '21', 'No. inseason': '1', 'Title': '"Valar Dohaeris"', 'Directed by': 'Daniel Minahan', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'March\xa031,\xa02013\xa0(2013-03-31)', 'U.S. viewers(millions)': '4.37[41]'}
{'No.overall': '22', 'No. inseason': '2', 'Title': '"Dark Wings, Dark Words"', 'Directed by': 'Daniel Minahan', 'Written by': 'Vanessa Taylor', 'Original air date\u200a[20]': 'April\xa07,\xa02013\xa0(2013-04-07)', 'U.S. viewers(millions)': '4.27[42]'}
{'No.overall': '23', 'No. inseason': '3', 'Title': '"Walk of Punishment"', 'Directed by': 'David Benioff', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa014,\xa02013\xa0(2013-04-14)', 'U.S. viewers(millions)': '4.72[43]'}
{'No.overall': '24', 'No. inseason': '4', 'Title': '"And Now His Watch Is Ended"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa021,\xa02013\xa0(2013-04-21)', 'U.S. viewers(millions)': '4.87[44]'}
{'No.overall': '25', 'No. inseason': '5', 'Title': '"Kissed by Fire"', 'Directed by': 'Alex Graves', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa028,\xa02013\xa0(2013-04-28)', 'U.S. viewers(millions)': '5.35[45]'}
{'No.overall': '26', 'No. inseason': '6', 'Title': '"The Climb"', 'Directed by': 'Alik Sakharov', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa05,\xa02013\xa0(2013-05-05)', 'U.S. viewers(millions)': '5.50[46]'}
{'No.overall': '27', 'No. inseason': '7', 'Title': '"The Bear and the Maiden Fair"', 'Directed by': 'Michelle MacLaren', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'May\xa012,\xa02013\xa0(2013-05-12)', 'U.S. viewers(millions)': '4.84[47]'}
{'No.overall': '28', 'No. inseason': '8', 'Title': '"Second Sons"', 'Directed by': 'Michelle MacLaren', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa019,\xa02013\xa0(2013-05-19)', 'U.S. viewers(millions)': '5.13[48]'}
{'No.overall': '29', 'No. inseason': '9', 'Title': '"The Rains of Castamere"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa02,\xa02013\xa0(2013-06-02)', 'U.S. viewers(millions)': '5.22[49]'}
{'No.overall': '30', 'No. inseason': '10', 'Title': '"Mhysa"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa09,\xa02013\xa0(2013-06-09)', 'U.S. viewers(millions)': '5.39[50]'}
{'No.overall': '31', 'No. inseason': '1', 'Title': '"Two Swords"', 'Directed by': 'D. B. Weiss', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa06,\xa02014\xa0(2014-04-06)', 'U.S. viewers(millions)': '6.64[51]'}
{'No.overall': '32', 'No. inseason': '2', 'Title': '"The Lion and the Rose"', 'Directed by': 'Alex Graves', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'April\xa013,\xa02014\xa0(2014-04-13)', 'U.S. viewers(millions)': '6.31[52]'}
{'No.overall': '33', 'No. inseason': '3', 'Title': '"Breaker of Chains"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa020,\xa02014\xa0(2014-04-20)', 'U.S. viewers(millions)': '6.59[53]'}
{'No.overall': '34', 'No. inseason': '4', 'Title': '"Oathkeeper"', 'Directed by': 'Michelle MacLaren', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa027,\xa02014\xa0(2014-04-27)', 'U.S. viewers(millions)': '6.95[54]'}
{'No.overall': '35', 'No. inseason': '5', 'Title': '"First of His Name"', 'Directed by': 'Michelle MacLaren', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa04,\xa02014\xa0(2014-05-04)', 'U.S. viewers(millions)': '7.16[55]'}
{'No.overall': '36', 'No. inseason': '6', 'Title': '"The Laws of Gods and Men"', 'Directed by': 'Alik Sakharov', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa011,\xa02014\xa0(2014-05-11)', 'U.S. viewers(millions)': '6.40[56]'}
{'No.overall': '37', 'No. inseason': '7', 'Title': '"Mockingbird"', 'Directed by': 'Alik Sakharov', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa018,\xa02014\xa0(2014-05-18)', 'U.S. viewers(millions)': '7.20[57]'}
{'No.overall': '38', 'No. inseason': '8', 'Title': '"The Mountain and the Viper"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa01,\xa02014\xa0(2014-06-01)', 'U.S. viewers(millions)': '7.17[58]'}
{'No.overall': '39', 'No. inseason': '9', 'Title': '"The Watchers on the Wall"', 'Directed by': 'Neil Marshall', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa08,\xa02014\xa0(2014-06-08)', 'U.S. viewers(millions)': '6.95[59]'}
{'No.overall': '40', 'No. inseason': '10', 'Title': '"The Children"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa015,\xa02014\xa0(2014-06-15)', 'U.S. viewers(millions)': '7.09[60]'}
{'No.overall': '41', 'No. inseason': '1', 'Title': '"The Wars to Come"', 'Directed by': 'Michael Slovis', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa012,\xa02015\xa0(2015-04-12)', 'U.S. viewers(millions)': '8.00[61]'}
{'No.overall': '42', 'No. inseason': '2', 'Title': '"The House of Black and White"', 'Directed by': 'Michael Slovis', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa019,\xa02015\xa0(2015-04-19)', 'U.S. viewers(millions)': '6.81[62]'}
{'No.overall': '43', 'No. inseason': '3', 'Title': '"High Sparrow"', 'Directed by': 'Mark Mylod', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa026,\xa02015\xa0(2015-04-26)', 'U.S. viewers(millions)': '6.71[63]'}
{'No.overall': '44', 'No. inseason': '4', 'Title': '"Sons of the Harpy"', 'Directed by': 'Mark Mylod', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'May\xa03,\xa02015\xa0(2015-05-03)', 'U.S. viewers(millions)': '6.82[64]'}
{'No.overall': '45', 'No. inseason': '5', 'Title': '"Kill the Boy"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa010,\xa02015\xa0(2015-05-10)', 'U.S. viewers(millions)': '6.56[65]'}
{'No.overall': '46', 'No. inseason': '6', 'Title': '"Unbowed, Unbent, Unbroken"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa017,\xa02015\xa0(2015-05-17)', 'U.S. viewers(millions)': '6.24[66]'}
{'No.overall': '47', 'No. inseason': '7', 'Title': '"The Gift"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa024,\xa02015\xa0(2015-05-24)', 'U.S. viewers(millions)': '5.40[67]'}
{'No.overall': '48', 'No. inseason': '8', 'Title': '"Hardhome"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa031,\xa02015\xa0(2015-05-31)', 'U.S. viewers(millions)': '7.01[68]'}
{'No.overall': '49', 'No. inseason': '9', 'Title': '"The Dance of Dragons"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa07,\xa02015\xa0(2015-06-07)', 'U.S. viewers(millions)': '7.14[69]'}
{'No.overall': '50', 'No. inseason': '10', 'Title': '"Mother\'s Mercy"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa014,\xa02015\xa0(2015-06-14)', 'U.S. viewers(millions)': '8.11[70]'}
{'No.overall': '51', 'No. inseason': '1', 'Title': '"The Red Woman"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa024,\xa02016\xa0(2016-04-24)', 'U.S. viewers(millions)': '7.94[71]'}
{'No.overall': '52', 'No. inseason': '2', 'Title': '"Home"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'May\xa01,\xa02016\xa0(2016-05-01)', 'U.S. viewers(millions)': '7.29[72]'}
{'No.overall': '53', 'No. inseason': '3', 'Title': '"Oathbreaker"', 'Directed by': 'Daniel Sackheim', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa08,\xa02016\xa0(2016-05-08)', 'U.S. viewers(millions)': '7.28[73]'}
{'No.overall': '54', 'No. inseason': '4', 'Title': '"Book of the Stranger"', 'Directed by': 'Daniel Sackheim', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa015,\xa02016\xa0(2016-05-15)', 'U.S. viewers(millions)': '7.82[74]'}
{'No.overall': '55', 'No. inseason': '5', 'Title': '"The Door"', 'Directed by': 'Jack Bender', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa022,\xa02016\xa0(2016-05-22)', 'U.S. viewers(millions)': '7.89[75]'}
{'No.overall': '56', 'No. inseason': '6', 'Title': '"Blood of My Blood"', 'Directed by': 'Jack Bender', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa029,\xa02016\xa0(2016-05-29)', 'U.S. viewers(millions)': '6.71[76]'}
{'No.overall': '57', 'No. inseason': '7', 'Title': '"The Broken Man"', 'Directed by': 'Mark Mylod', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'June\xa05,\xa02016\xa0(2016-06-05)', 'U.S. viewers(millions)': '7.80[77]'}
{'No.overall': '58', 'No. inseason': '8', 'Title': '"No One"', 'Directed by': 'Mark Mylod', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa012,\xa02016\xa0(2016-06-12)', 'U.S. viewers(millions)': '7.60[78]'}
{'No.overall': '59', 'No. inseason': '9', 'Title': '"Battle of the Bastards"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa019,\xa02016\xa0(2016-06-19)', 'U.S. viewers(millions)': '7.66[79]'}
{'No.overall': '60', 'No. inseason': '10', 'Title': '"The Winds of Winter"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa026,\xa02016\xa0(2016-06-26)', 'U.S. viewers(millions)': '8.89[80]'}
{'No.overall': '61', 'No. inseason': '1', 'Title': '"Dragonstone"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'July\xa016,\xa02017\xa0(2017-07-16)', 'U.S. viewers(millions)': '10.11[81]'}
{'No.overall': '62', 'No. inseason': '2', 'Title': '"Stormborn"', 'Directed by': 'Mark Mylod', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'July\xa023,\xa02017\xa0(2017-07-23)', 'U.S. viewers(millions)': '9.27[82]'}
{'No.overall': '63', 'No. inseason': '3', 'Title': '"The Queen\'s Justice"', 'Directed by': 'Mark Mylod', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'July\xa030,\xa02017\xa0(2017-07-30)', 'U.S. viewers(millions)': '9.25[83]'}
{'No.overall': '64', 'No. inseason': '4', 'Title': '"The Spoils of War"', 'Directed by': 'Matt Shakman', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'August\xa06,\xa02017\xa0(2017-08-06)', 'U.S. viewers(millions)': '10.17[84]'}
{'No.overall': '65', 'No. inseason': '5', 'Title': '"Eastwatch"', 'Directed by': 'Matt Shakman', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'August\xa013,\xa02017\xa0(2017-08-13)', 'U.S. viewers(millions)': '10.72[85]'}
{'No.overall': '66', 'No. inseason': '6', 'Title': '"Beyond the Wall"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'August\xa020,\xa02017\xa0(2017-08-20)', 'U.S. viewers(millions)': '10.24[86]'}
{'No.overall': '67', 'No. inseason': '7', 'Title': '"The Dragon and the Wolf"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'August\xa027,\xa02017\xa0(2017-08-27)', 'U.S. viewers(millions)': '12.07[87]'}

In [60]:
episodes

[{'No.overall': '1',
  'No. inseason': '1',
  'Title': '"Winter Is Coming"',
  'Directed by': 'Tim Van Patten',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa017,\xa02011\xa0(2011-04-17)',
  'U.S. viewers(millions)': '2.22[21]'},
 {'No.overall': '2',
  'No. inseason': '2',
  'Title': '"The Kingsroad"',
  'Directed by': 'Tim Van Patten',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa024,\xa02011\xa0(2011-04-24)',
  'U.S. viewers(millions)': '2.20[22]'},
 {'No.overall': '3',
  'No. inseason': '3',
  'Title': '"Lord Snow"',
  'Directed by': 'Brian Kirk',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa01,\xa02011\xa0(2011-05-01)',
  'U.S. viewers(millions)': '2.44[23]'},
 {'No.overall': '4',
  'No. inseason': '4',
  'Title': '"Cripples, Bastards, and Broken Things"',
  'Directed by': 'Brian Kirk',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'May\xa08,\xa02011\xa0(2011-05-08)',
  'U.S. viewers(millions)': '2.45[24]'},
 {'No.overall': '5',
  'No. inseason': '5',
  'Title': '"The Wolf and the Lion"',
  'Directed by': 'Brian Kirk',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa015,\xa02011\xa0(2011-05-15)',
  'U.S. viewers(millions)': '2.58[25]'},
 {'No.overall': '6',
  'No. inseason': '6',
  'Title': '"A Golden Crown"',
  'Directed by': 'Daniel Minahan',
  'Written by': 'Story by\u200a: David Benioff & D. B. WeissTeleplay by\u200a: Jane Espenson and David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa022,\xa02011\xa0(2011-05-22)',
  'U.S. viewers(millions)': '2.44[26]'},
 {'No.overall': '7',
  'No. inseason': '7',
  'Title': '"You Win or You Die"',
  'Directed by': 'Daniel Minahan',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa029,\xa02011\xa0(2011-05-29)',
  'U.S. viewers(millions)': '2.40[27]'},
 {'No.overall': '8',
  'No. inseason': '8',
  'Title': '"The Pointy End"',
  'Directed by': 'Daniel Minahan',
  'Written by': 'George R. R. Martin',
  'Original air date\u200a[20]': 'June\xa05,\xa02011\xa0(2011-06-05)',
  'U.S. viewers(millions)': '2.72[28]'},
 {'No.overall': '9',
  'No. inseason': '9',
  'Title': '"Baelor"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa012,\xa02011\xa0(2011-06-12)',
  'U.S. viewers(millions)': '2.66[29]'},
 {'No.overall': '10',
  'No. inseason': '10',
  'Title': '"Fire and Blood"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa019,\xa02011\xa0(2011-06-19)',
  'U.S. viewers(millions)': '3.04[30]'},
 {'No.overall': '11',
  'No. inseason': '1',
  'Title': '"The North Remembers"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa01,\xa02012\xa0(2012-04-01)',
  'U.S. viewers(millions)': '3.86[31]'},
 {'No.overall': '12',
  'No. inseason': '2',
  'Title': '"The Night Lands"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa08,\xa02012\xa0(2012-04-08)',
  'U.S. viewers(millions)': '3.76[32]'},
 {'No.overall': '13',
  'No. inseason': '3',
  'Title': '"What Is Dead May Never Die"',
  'Directed by': 'Alik Sakharov',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'April\xa015,\xa02012\xa0(2012-04-15)',
  'U.S. viewers(millions)': '3.77[33]'},
 {'No.overall': '14',
  'No. inseason': '4',
  'Title': '"Garden of Bones"',
  'Directed by': 'David Petrarca',
  'Written by': 'Vanessa Taylor',
  'Original air date\u200a[20]': 'April\xa022,\xa02012\xa0(2012-04-22)',
  'U.S. viewers(millions)': '3.65[34]'},
 {'No.overall': '15',
  'No. inseason': '5',
  'Title': '"The Ghost of Harrenhal"',
  'Directed by': 'David Petrarca',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa029,\xa02012\xa0(2012-04-29)',
  'U.S. viewers(millions)': '3.90[35]'},
 {'No.overall': '16',
  'No. inseason': '6',
  'Title': '"The Old Gods and the New"',
  'Directed by': 'David Nutter',
  'Written by': 'Vanessa Taylor',
  'Original air date\u200a[20]': 'May\xa06,\xa02012\xa0(2012-05-06)',
  'U.S. viewers(millions)': '3.88[36]'},
 {'No.overall': '17',
  'No. inseason': '7',
  'Title': '"A Man Without Honor"',
  'Directed by': 'David Nutter',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa013,\xa02012\xa0(2012-05-13)',
  'U.S. viewers(millions)': '3.69[37]'},
 {'No.overall': '18',
  'No. inseason': '8',
  'Title': '"The Prince of Winterfell"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa020,\xa02012\xa0(2012-05-20)',
  'U.S. viewers(millions)': '3.86[38]'},
 {'No.overall': '19',
  'No. inseason': '9',
  'Title': '"Blackwater"',
  'Directed by': 'Neil Marshall',
  'Written by': 'George R. R. Martin',
  'Original air date\u200a[20]': 'May\xa027,\xa02012\xa0(2012-05-27)',
  'U.S. viewers(millions)': '3.38[39]'},
 {'No.overall': '20',
  'No. inseason': '10',
  'Title': '"Valar Morghulis"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa03,\xa02012\xa0(2012-06-03)',
  'U.S. viewers(millions)': '4.20[40]'},
 {'No.overall': '21',
  'No. inseason': '1',
  'Title': '"Valar Dohaeris"',
  'Directed by': 'Daniel Minahan',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'March\xa031,\xa02013\xa0(2013-03-31)',
  'U.S. viewers(millions)': '4.37[41]'},
 {'No.overall': '22',
  'No. inseason': '2',
  'Title': '"Dark Wings, Dark Words"',
  'Directed by': 'Daniel Minahan',
  'Written by': 'Vanessa Taylor',
  'Original air date\u200a[20]': 'April\xa07,\xa02013\xa0(2013-04-07)',
  'U.S. viewers(millions)': '4.27[42]'},
 {'No.overall': '23',
  'No. inseason': '3',
  'Title': '"Walk of Punishment"',
  'Directed by': 'David Benioff',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa014,\xa02013\xa0(2013-04-14)',
  'U.S. viewers(millions)': '4.72[43]'},
 {'No.overall': '24',
  'No. inseason': '4',
  'Title': '"And Now His Watch Is Ended"',
  'Directed by': 'Alex Graves',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa021,\xa02013\xa0(2013-04-21)',
  'U.S. viewers(millions)': '4.87[44]'},
 {'No.overall': '25',
  'No. inseason': '5',
  'Title': '"Kissed by Fire"',
  'Directed by': 'Alex Graves',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'April\xa028,\xa02013\xa0(2013-04-28)',
  'U.S. viewers(millions)': '5.35[45]'},
 {'No.overall': '26',
  'No. inseason': '6',
  'Title': '"The Climb"',
  'Directed by': 'Alik Sakharov',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa05,\xa02013\xa0(2013-05-05)',
  'U.S. viewers(millions)': '5.50[46]'},
 {'No.overall': '27',
  'No. inseason': '7',
  'Title': '"The Bear and the Maiden Fair"',
  'Directed by': 'Michelle MacLaren',
  'Written by': 'George R. R. Martin',
  'Original air date\u200a[20]': 'May\xa012,\xa02013\xa0(2013-05-12)',
  'U.S. viewers(millions)': '4.84[47]'},
 {'No.overall': '28',
  'No. inseason': '8',
  'Title': '"Second Sons"',
  'Directed by': 'Michelle MacLaren',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa019,\xa02013\xa0(2013-05-19)',
  'U.S. viewers(millions)': '5.13[48]'},
 {'No.overall': '29',
  'No. inseason': '9',
  'Title': '"The Rains of Castamere"',
  'Directed by': 'David Nutter',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa02,\xa02013\xa0(2013-06-02)',
  'U.S. viewers(millions)': '5.22[49]'},
 {'No.overall': '30',
  'No. inseason': '10',
  'Title': '"Mhysa"',
  'Directed by': 'David Nutter',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa09,\xa02013\xa0(2013-06-09)',
  'U.S. viewers(millions)': '5.39[50]'},
 {'No.overall': '31',
  'No. inseason': '1',
  'Title': '"Two Swords"',
  'Directed by': 'D. B. Weiss',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa06,\xa02014\xa0(2014-04-06)',
  'U.S. viewers(millions)': '6.64[51]'},
 {'No.overall': '32',
  'No. inseason': '2',
  'Title': '"The Lion and the Rose"',
  'Directed by': 'Alex Graves',
  'Written by': 'George R. R. Martin',
  'Original air date\u200a[20]': 'April\xa013,\xa02014\xa0(2014-04-13)',
  'U.S. viewers(millions)': '6.31[52]'},
 {'No.overall': '33',
  'No. inseason': '3',
  'Title': '"Breaker of Chains"',
  'Directed by': 'Alex Graves',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa020,\xa02014\xa0(2014-04-20)',
  'U.S. viewers(millions)': '6.59[53]'},
 {'No.overall': '34',
  'No. inseason': '4',
  'Title': '"Oathkeeper"',
  'Directed by': 'Michelle MacLaren',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'April\xa027,\xa02014\xa0(2014-04-27)',
  'U.S. viewers(millions)': '6.95[54]'},
 {'No.overall': '35',
  'No. inseason': '5',
  'Title': '"First of His Name"',
  'Directed by': 'Michelle MacLaren',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa04,\xa02014\xa0(2014-05-04)',
  'U.S. viewers(millions)': '7.16[55]'},
 {'No.overall': '36',
  'No. inseason': '6',
  'Title': '"The Laws of Gods and Men"',
  'Directed by': 'Alik Sakharov',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'May\xa011,\xa02014\xa0(2014-05-11)',
  'U.S. viewers(millions)': '6.40[56]'},
 {'No.overall': '37',
  'No. inseason': '7',
  'Title': '"Mockingbird"',
  'Directed by': 'Alik Sakharov',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa018,\xa02014\xa0(2014-05-18)',
  'U.S. viewers(millions)': '7.20[57]'},
 {'No.overall': '38',
  'No. inseason': '8',
  'Title': '"The Mountain and the Viper"',
  'Directed by': 'Alex Graves',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa01,\xa02014\xa0(2014-06-01)',
  'U.S. viewers(millions)': '7.17[58]'},
 {'No.overall': '39',
  'No. inseason': '9',
  'Title': '"The Watchers on the Wall"',
  'Directed by': 'Neil Marshall',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa08,\xa02014\xa0(2014-06-08)',
  'U.S. viewers(millions)': '6.95[59]'},
 {'No.overall': '40',
  'No. inseason': '10',
  'Title': '"The Children"',
  'Directed by': 'Alex Graves',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa015,\xa02014\xa0(2014-06-15)',
  'U.S. viewers(millions)': '7.09[60]'},
 {'No.overall': '41',
  'No. inseason': '1',
  'Title': '"The Wars to Come"',
  'Directed by': 'Michael Slovis',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa012,\xa02015\xa0(2015-04-12)',
  'U.S. viewers(millions)': '8.00[61]'},
 {'No.overall': '42',
  'No. inseason': '2',
  'Title': '"The House of Black and White"',
  'Directed by': 'Michael Slovis',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa019,\xa02015\xa0(2015-04-19)',
  'U.S. viewers(millions)': '6.81[62]'},
 {'No.overall': '43',
  'No. inseason': '3',
  'Title': '"High Sparrow"',
  'Directed by': 'Mark Mylod',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa026,\xa02015\xa0(2015-04-26)',
  'U.S. viewers(millions)': '6.71[63]'},
 {'No.overall': '44',
  'No. inseason': '4',
  'Title': '"Sons of the Harpy"',
  'Directed by': 'Mark Mylod',
  'Written by': 'Dave Hill',
  'Original air date\u200a[20]': 'May\xa03,\xa02015\xa0(2015-05-03)',
  'U.S. viewers(millions)': '6.82[64]'},
 {'No.overall': '45',
  'No. inseason': '5',
  'Title': '"Kill the Boy"',
  'Directed by': 'Jeremy Podeswa',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'May\xa010,\xa02015\xa0(2015-05-10)',
  'U.S. viewers(millions)': '6.56[65]'},
 {'No.overall': '46',
  'No. inseason': '6',
  'Title': '"Unbowed, Unbent, Unbroken"',
  'Directed by': 'Jeremy Podeswa',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'May\xa017,\xa02015\xa0(2015-05-17)',
  'U.S. viewers(millions)': '6.24[66]'},
 {'No.overall': '47',
  'No. inseason': '7',
  'Title': '"The Gift"',
  'Directed by': 'Miguel Sapochnik',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa024,\xa02015\xa0(2015-05-24)',
  'U.S. viewers(millions)': '5.40[67]'},
 {'No.overall': '48',
  'No. inseason': '8',
  'Title': '"Hardhome"',
  'Directed by': 'Miguel Sapochnik',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa031,\xa02015\xa0(2015-05-31)',
  'U.S. viewers(millions)': '7.01[68]'},
 {'No.overall': '49',
  'No. inseason': '9',
  'Title': '"The Dance of Dragons"',
  'Directed by': 'David Nutter',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa07,\xa02015\xa0(2015-06-07)',
  'U.S. viewers(millions)': '7.14[69]'},
 {'No.overall': '50',
  'No. inseason': '10',
  'Title': '"Mother\'s Mercy"',
  'Directed by': 'David Nutter',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa014,\xa02015\xa0(2015-06-14)',
  'U.S. viewers(millions)': '8.11[70]'},
 {'No.overall': '51',
  'No. inseason': '1',
  'Title': '"The Red Woman"',
  'Directed by': 'Jeremy Podeswa',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'April\xa024,\xa02016\xa0(2016-04-24)',
  'U.S. viewers(millions)': '7.94[71]'},
 {'No.overall': '52',
  'No. inseason': '2',
  'Title': '"Home"',
  'Directed by': 'Jeremy Podeswa',
  'Written by': 'Dave Hill',
  'Original air date\u200a[20]': 'May\xa01,\xa02016\xa0(2016-05-01)',
  'U.S. viewers(millions)': '7.29[72]'},
 {'No.overall': '53',
  'No. inseason': '3',
  'Title': '"Oathbreaker"',
  'Directed by': 'Daniel Sackheim',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa08,\xa02016\xa0(2016-05-08)',
  'U.S. viewers(millions)': '7.28[73]'},
 {'No.overall': '54',
  'No. inseason': '4',
  'Title': '"Book of the Stranger"',
  'Directed by': 'Daniel Sackheim',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa015,\xa02016\xa0(2016-05-15)',
  'U.S. viewers(millions)': '7.82[74]'},
 {'No.overall': '55',
  'No. inseason': '5',
  'Title': '"The Door"',
  'Directed by': 'Jack Bender',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'May\xa022,\xa02016\xa0(2016-05-22)',
  'U.S. viewers(millions)': '7.89[75]'},
 {'No.overall': '56',
  'No. inseason': '6',
  'Title': '"Blood of My Blood"',
  'Directed by': 'Jack Bender',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'May\xa029,\xa02016\xa0(2016-05-29)',
  'U.S. viewers(millions)': '6.71[76]'},
 {'No.overall': '57',
  'No. inseason': '7',
  'Title': '"The Broken Man"',
  'Directed by': 'Mark Mylod',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'June\xa05,\xa02016\xa0(2016-06-05)',
  'U.S. viewers(millions)': '7.80[77]'},
 {'No.overall': '58',
  'No. inseason': '8',
  'Title': '"No One"',
  'Directed by': 'Mark Mylod',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa012,\xa02016\xa0(2016-06-12)',
  'U.S. viewers(millions)': '7.60[78]'},
 {'No.overall': '59',
  'No. inseason': '9',
  'Title': '"Battle of the Bastards"',
  'Directed by': 'Miguel Sapochnik',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa019,\xa02016\xa0(2016-06-19)',
  'U.S. viewers(millions)': '7.66[79]'},
 {'No.overall': '60',
  'No. inseason': '10',
  'Title': '"The Winds of Winter"',
  'Directed by': 'Miguel Sapochnik',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'June\xa026,\xa02016\xa0(2016-06-26)',
  'U.S. viewers(millions)': '8.89[80]'},
 {'No.overall': '61',
  'No. inseason': '1',
  'Title': '"Dragonstone"',
  'Directed by': 'Jeremy Podeswa',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'July\xa016,\xa02017\xa0(2017-07-16)',
  'U.S. viewers(millions)': '10.11[81]'},
 {'No.overall': '62',
  'No. inseason': '2',
  'Title': '"Stormborn"',
  'Directed by': 'Mark Mylod',
  'Written by': 'Bryan Cogman',
  'Original air date\u200a[20]': 'July\xa023,\xa02017\xa0(2017-07-23)',
  'U.S. viewers(millions)': '9.27[82]'},
 {'No.overall': '63',
  'No. inseason': '3',
  'Title': '"The Queen\'s Justice"',
  'Directed by': 'Mark Mylod',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'July\xa030,\xa02017\xa0(2017-07-30)',
  'U.S. viewers(millions)': '9.25[83]'},
 {'No.overall': '64',
  'No. inseason': '4',
  'Title': '"The Spoils of War"',
  'Directed by': 'Matt Shakman',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'August\xa06,\xa02017\xa0(2017-08-06)',
  'U.S. viewers(millions)': '10.17[84]'},
 {'No.overall': '65',
  'No. inseason': '5',
  'Title': '"Eastwatch"',
  'Directed by': 'Matt Shakman',
  'Written by': 'Dave Hill',
  'Original air date\u200a[20]': 'August\xa013,\xa02017\xa0(2017-08-13)',
  'U.S. viewers(millions)': '10.72[85]'},
 {'No.overall': '66',
  'No. inseason': '6',
  'Title': '"Beyond the Wall"',
  'Directed by': 'Alan Taylor',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'August\xa020,\xa02017\xa0(2017-08-20)',
  'U.S. viewers(millions)': '10.24[86]'},
 {'No.overall': '67',
  'No. inseason': '7',
  'Title': '"The Dragon and the Wolf"',
  'Directed by': 'Jeremy Podeswa',
  'Written by': 'David Benioff & D. B. Weiss',
  'Original air date\u200a[20]': 'August\xa027,\xa02017\xa0(2017-08-27)',
  'U.S. viewers(millions)': '12.07[87]'}]

In [53]:
df = pd.DataFrame(episodes)
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date [20],U.S. viewers(millions)
0,1,1,"""Winter Is Coming""",Tim Van Patten,David Benioff & D. B. Weiss,"April 17, 2011 (2011-04-17)",2.22[21]
1,2,2,"""The Kingsroad""",Tim Van Patten,David Benioff & D. B. Weiss,"April 24, 2011 (2011-04-24)",2.20[22]
2,3,3,"""Lord Snow""",Brian Kirk,David Benioff & D. B. Weiss,"May 1, 2011 (2011-05-01)",2.44[23]
3,4,4,"""Cripples, Bastards, and Broken Things""",Brian Kirk,Bryan Cogman,"May 8, 2011 (2011-05-08)",2.45[24]
4,5,5,"""The Wolf and the Lion""",Brian Kirk,David Benioff & D. B. Weiss,"May 15, 2011 (2011-05-15)",2.58[25]

In [55]:
my_xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [57]:
df2 = pd.read_excel(my_xlsx,'Sheet1')
df2

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [59]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
df2.to_excel(writer, "Sheet1")
writer.save()

In [61]:
import sqlite3

In [64]:
query = "CREATE TABLE test(a VARCHAR(20), b VARCHAR(20),c REAL, d INTEGER);" # 20글자를 넘지 않는 a라는 칸 만들기
con = sqlite3.connect('mydata.sqlite')
con.execute(query) # 만들어진 말을 database server에게 전달해야함

In [65]:
con.commit() #commit : 데이터베이스에서 영구적인 변경을 확정하는 일(취소가 안됨)

In [67]:
data = [('atlanta','georgia','1.25','6'),
       ('Tallahassee','Florida','2.6','3'),
       ('Sacramento','California','1.7','5')]
query = "INSERT INTO test VALUES(?,?,?,?)" # test에다가 VALUES(?,?,?,?)를 추가해라
con.executemany(query,data)
con.commit()

In [68]:
query = "SELECT * FROM test" # test라는 표에서부터 모든 것을 다 가져와라
cur = con.execute(query)
rows = cur.fetchall()
rows

[('atlanta', 'georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]