In [1]:
1 in [1, 2, 3]

True

In [2]:
4 not in [1, 2, 3]
# 해당 범위에 없는지 확인

True

In [3]:
a = 1
if a == 1:
    pass
#pass로 나중에 할 것이라고 적어놓고 놓치지 않을 수 있음

In [4]:
a = 1
if a == 1: print("a는 1")
print("Good Bye")
#Good Bye와 a는 1은 무관하게 처리됨

a는 1
Good Bye

In [5]:
a = 0
if a == 1: print("a는 1")
print("Good Bye")

Good Bye

In [6]:
# 초기값 설정해줘야 함
treeHit = 1
while treeHit <= 10:
    print("나무를 "+str(treeHit)+"번 찍었습니다.")
    if treeHit == 10: print("나무 넘어갑니다.")
    treeHit += 1  #treeHit = treeHit + 1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [7]:
a = input("정수를 입력하세요")
print(a)

정수를 입력하세요3
3

In [8]:
a = input("정수를 입력하세요")
a = int(a) + 1
print(a)

정수를 입력하세요3
4

In [9]:
list_a = []
count = 0
while count < 4:
    recieved = input("온도를 입력하세요")
    recieved = int(recieved)
    list_a.append(recieved)
    count += 1
print(list_a)

온도를 입력하세요3
온도를 입력하세요

ValueError: invalid literal for int() with base 10: ''

In [13]:
list_a = []
count = 1
print("온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요")
while True:
    recieved = input("온도를 입력하세요")
    recieved = int(recieved)
    if recieved == -500: break
    if recieved > 50 or recieved < -40: continue #continue : recieved에 100이 들어왔을때 append를 안하고 다음작업 수행
    list_a.append(recieved)
print(list_a)

온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요
온도를 입력하세요4
온도를 입력하세요6
온도를 입력하세요6
온도를 입력하세요6
온도를 입력하세요6
온도를 입력하세요100
온도를 입력하세요300
온도를 입력하세요-500
[4, 6, 6, 6, 6]

In [15]:
a = range(10)
print(a)

range(0, 10)

In [18]:
for i in range(10):
    print(i, end=" ") #end는 기본적으로 줄바꿈이 설정되어있음(옆으로 정렬되라고 space침)

0 1 2 3 4 5 6 7 8 9

In [20]:
for i in range(5, 10):
    print(i, end=" ")

5 6 7 8 9

In [22]:
for i in range(1, 11, 2):
    print(i, end=" ") #마지막은 간격을 설정 / 큰 숫자를 하기엔 range가 더 효율적이기 때문에

1 3 5 7 9

In [27]:
for i in range(10,0,-1):
    print(i, end = " ") #count down은 -1로 주고 설정

10 9 8 7 6 5 4 3 2 1

In [140]:
for i in [1, 4, 7, 10]:
    print(i, end=" ") # range를 쓰지 않고 list를 써서 사용하는 방법

1 4 7 10

In [141]:
a = [1,4,7,10]
for i in a:
    print(i, end=" ")

1 4 7 10

In [142]:
a = [1,2,3,4]
res = []
for num in a:
    res.append(num*3)
print(res,end=" ")

[3, 6, 9, 12]

In [143]:
a = [1,2,3,4]
res = [num*3 for num in a if num % 2 == 0]
print(res, end=" ")

[6, 12]

In [144]:
a = [1,2,3,4]
res = []
for num in a:
    if num % 2 == 0:
        res.append(num*3)
print(res,end=" ")

[6, 12]

In [145]:
i = 0
while True:
    i += 1
    if i > 5: break
    print("*"*i)

*
**
***
****
*****

In [146]:
i = 0
while True:
    i += 1
    if i > 5: break
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****

In [147]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [148]:
for i in range(60, -1, -1):
    print(i, end=" ")
print("\n발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사!

In [149]:
num = 60
while num >= 0:
    print(num, end=" ")
    num -= 1
print("\n발사!")
#print("")
#print("발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사!

In [169]:
for i in range(1,10):
    for j in range(1,10):
        print(i*j,end=" ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [171]:
for i in [1,2,3,4,5,6,7,8,9]:
    for j in [1,2,3,4,5,6,7,8,9]:
        print(i*j,end=" ")
    print("")

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [172]:
i = 1
while i <= 9:
    j = 1
    while j <= 9:
        print(i*j, end=" ")
        j += 1
    print("")
    i += 1

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [249]:
for i in range(1,8):
    # 숫자 출력
    for j in range(1,i+1):
        print(j,end=" ")
    # 별 출력
    for j in range(1,8-i):
        print("*",end=" ")
    print(" ")

1 * * * * * *
1 2 * * * * *
1 2 3 * * * *
1 2 3 4 * * *
1 2 3 4 5 * *
1 2 3 4 5 6 *
1 2 3 4 5 6 7

In [252]:
# 응용
num = int(input("몇 개?"))
for i in range(1,num+1):
    # 숫자 출력
    for j in range(1,i+1):
        print(j,end=" ")
    # 별 출력
    for j in range(1,num+1-i):
        print("*",end=" ")
    print(" ")

몇 개?3
1 * *
1 2 *
1 2 3

In [42]:
for hang in range(10):
    # 빈칸 출력
    for space in range(hang):
        print(" ",end="")
    # 별 출력
    for star in range(10) :
        print("*",end="")
    print("")

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [47]:
# 1부터 100이하의 피타고라스를 만족하는 조합은 몇개인가?
count=0

for a in range(1,101):
    for b in range(1,101):
        for c in range(1,101):   # 100*100*100의 조합을 만듦
            if a*a+b*b==c*c:
                count+=1           # 하나씩 증가한다       
print(count)

104

In [44]:
num = 123
d100 = num//100
d10 = (num%100)//10 #23/10 ==> 2.3, 23//10 ==> 2
d1 = num%10
print(d100,d10,d1)

1 2 3

In [55]:
count=0
for num in range(1000):
    d100 = num//100
    d10 = (num%100)//10
    d1 = num%10
    
    if d100 != d10 and d10 != d1 and d100 != d1:
        count +=1
        #print(d100*100+d10*10+d1)
print(count,"개")

720 개

In [58]:
count=0
for d100 in range(10):
    for d10 in range(10):
        for d1 in range(10):
            
            #if d100 != d10 != d1 : # 이렇게 하면 180으로 오동작
            if d100 != d10 and d10 != d1 and d100 != d1:
                count+=1
print(count,"개")

720 개

In [60]:
(3**2016)%10

1

In [61]:
num = 1
for i in range(2016):
    num*=3
    if i == 2015:
        di_of_num = num%10
print(di_of_num)

1

In [70]:
num = int(input("수 입력:"))
proc_count = 0
while True:
    if num %2==0:
        num=int(num/2)
    else:
        num = int((3 * num + 1)/2)
    proc_count +=1
    if num == 1:break
    print(num, end="/")
    
print ("count:", proc_count)

수 입력:682
341/512/256/128/64/32/16/8/4/2/count: 11